<div class="actions-container">
  <app-icon-button
    class="action-btn view"
    [tooltip]="'table.actions.view' | translate"
    [ariaLabel]="'table.actions.view' | translate"
    (clicked)="view.emit()"
    variant="ghost"
  >
    <i class="fa-solid fa-eye"></i>
  </app-icon-button>
  <app-icon-button
    class="action-btn edit"
    [tooltip]="'table.actions.edit' | translate"
    [ariaLabel]="'table.actions.edit' | translate"
    (clicked)="edit.emit()"
    variant="ghost"
  >
    <i class="fa-solid fa-pencil"></i>
  </app-icon-button>
  <app-icon-button
    class="action-btn delete"
    [tooltip]="'table.actions.delete' | translate"
    [ariaLabel]="'table.actions.delete' | translate"
    (clicked)="delete.emit()"
    variant="ghost"
  >
    <i class="fa-solid fa-trash-can"></i>
  </app-icon-button>
</div>
